@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap');
*{
    font-family: 'Comic Neue';
    
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat:no-repeat ;

}

h1{
    text-align: center;
    font-size: 80px;
}
.container{
    display: flex;
    justify-content: center;
    border: 0;
}
.container div :nth-child(1){
    border-top: 0;
    border-right: 5px solid black;   
    border-bottom: 5px solid black;
    border-left: 0;
}
.container div :nth-child(3){
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
.container div :nth-child(5){
    border: 5px solid black;
}
.container div :nth-child(7){
    border-top: 5px solid black;
    border-right: 5px solid black;
}
.container div :nth-child(9){
    border-top: 5px solid black;
    border-left: 5px solid black;
}
.div{
    box-sizing: content-box;
    font-size: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200px;  
    color: white;
}
.container-game{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    border: 0;
  
}
label{
    margin: 41px;
    text-align: center;
    display: block;
    font-size: 60px;
}


